@charset "UTF-8";
@font-face {
  font-family: "TT Firs Text Trial";
  src: url("../font/tt_fors/TT_Fors_Trial_Regular.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Livret Text Trial";
  src: url("../font/tt_livret_text/TT Livret Text Trial Light.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TT Livret Text Trial";
  src: url("../font/tt_livret_text/TT Livret Text Trial Light Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "TT Livret Text Trial";
  src: url("../font/tt_livret_text/TT Livret Text Trial Medium.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "TT Livret Text Trial";
  src: url("../font/tt_livret_text/TT Livret Text Trial Medium Italic.ttf");
  font-weight: 600;
  font-style: italic;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 59rem; /* 944px */
  width: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  background: rgb(22, 21, 21);
  color: var(--white);
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside {
  font-family: "TT Firs Text Trial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 304px; /* 304px */
  width: 100%;
  min-height: 100vh;
  border-right: 0.0625rem solid var(--White-5, rgba(255, 255, 255, 0.05)); /* 1px */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
}

.aside__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 304px; /* 304px */
  width: 304px; /* 304px */
  max-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.aside__wrap::-webkit-scrollbar {
  width: 0.375rem; /* 6px */
}

.aside__wrap::-webkit-scrollbar-track {
  background: rgb(51, 49, 49);
}

.aside__wrap::-webkit-scrollbar-thumb {
  background: rgb(99, 96, 96);
}

.aside__wrap::-webkit-scrollbar-button {
  display: none;
}

.aside__logo {
  width: 100%;
  min-height: 122px;
  height: 122px;
  padding: var(--xxl); /* 2rem */
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgb(22, 21, 21);
  border-bottom: 0.0625rem solid var(--White-5, rgba(255, 255, 255, 0.05)); /* 1px */
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.aside__logo img {
  margin-bottom: var(--xs); /* 0.4375rem */
}
.aside__logo img:last-child {
  margin-bottom: 0;
}

.aside__logo::before {
  content: "";
  width: 125px;
  height: 23px;
  position: absolute;
  top: var(--xxl); /* 2rem */
  left: var(--xxl); /* 2rem */
  background: url(../img/logo1.svg) no-repeat center;
}

.aside__logo::after {
  content: "";
  width: 137px;
  height: 18px;
  position: absolute;
  bottom: var(--xxl); /* 2rem */
  left: var(--xxl); /* 2rem */
  background: url(../img/logo2.svg) no-repeat center;
}

.aside__block {
  border-top: 0.0625rem solid var(--White-5, rgba(255, 255, 255, 0.05)); /* 1px */
  padding: var(--lg) var(--xxl); /* 1.5rem 2rem */
}
.aside__block h5 {
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: var(--lg);
  margin-top: -var(--xs);
}
.aside__block h6 {
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}

.aside__block:nth-child(2) {
  border-top: 0;
}

.aside__accordeon {
  margin-bottom: var(--md);
}
.aside__accordeon .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-50, rgba(255, 255, 255, 0.5));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.aside__accordeon .btn span {
  min-width: 3.5rem; /* 56px */
  font-family: TT Livret Text Trial;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  margin-right: var(--md);
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}
.aside__accordeon .btn.active, .aside__accordeon .btn:hover {
  color: #fff;
}
.aside__accordeon .block {
  height: 0;
  overflow: hidden;
}
.aside__accordeon .block li {
  font-family: "TT Livret Text Trial", sans-serif;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: var(--md);
  padding-left: var(--sm); /* 0.8125rem */
  position: relative;
}
.aside__accordeon .block li::before {
  content: "•";
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-25, rgba(255, 255, 255, 0.25));
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.aside__accordeon .block li:last-child {
  margin-bottom: 0;
}
.aside__accordeon .btn.active + .block {
  height: auto;
  padding-top: var(--lg);
  padding-bottom: var(--md);
}

.aside__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: var(--xxl); /* 2.5rem */
}
.aside__color h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.aside__color h4 .icon {
  width: 0.875rem; /* 14px */
  height: 0.875rem; /* 14px */
  background: url(../img/color.svg) no-repeat center;
  margin-right: var(--sm); /* 0.625rem */
}

.color_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.color_items .color {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  border-radius: 50%;
  border: 1px solid #000;
}
.color_items .color.white {
  background: rgb(255, 255, 255);
}
.color_items .color.black {
  background: var(--Black-100, rgb(0, 0, 0));
}
.color_items .color.silver {
  background: rgb(233, 230, 204);
}
.color_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: var(--xs);
  cursor: pointer;
}
.color_items .item p {
  width: 0;
  overflow: hidden;
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.color_items .item.active p {
  width: auto;
  padding-left: var(--zr);
  padding-right: var(--xs);
}
.color_items .item:last-child {
  margin-right: 0;
}
.color_items .item:last-child p {
  padding-right: 0;
}

.aside__fonts {
  margin-bottom: var(--lg); /* 1.25rem */
}
.aside__fonts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--xxl); /* 2.5rem */
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.aside__fonts .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__fonts .title .icon {
  min-width: 1rem; /* 16px */
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: var(--xs);
}
.aside__fonts .title .icon img:nth-child(2) {
  display: none;
}
.aside__fonts .item:last-child {
  margin-bottom: 0;
}

.aside__slider input {
  width: 100%;
}

.aside__botttm {
  margin-top: auto;
  padding: var(--xxl); /* 2rem */
}
.aside__botttm h5 {
  font-weight: var(--medium);
  font-size: 0.625rem; /* 10px */
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.aside__botttm a {
  font-weight: var(--regular);
  font-size: 0.625rem; /* 10px */
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-25, rgba(255, 255, 255, 0.25));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aside__botttm a:hover {
  color: #fff;
}

.header {
  max-width: 100rem; /* 1600px */
  width: 100%;
  padding: var(--hg) var(--hg) var(--xl); /* 2.75rem 3rem 1.75rem */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  background: url(../img/icon.svg) no-repeat center;
  border: 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__save {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  background: url(../img/save.svg) no-repeat center;
  border: 0;
}

.header__btn {
  font-family: "TT Firs Text Trial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  color: var(--White-100, rgb(255, 255, 255));
  vertical-align: middle;
  padding: var(--xs) var(--md) var(--xs) var(--md); /* 0.5rem 1.125rem 0.5rem 1rem */
  background: transparent;
  border: 0.0625rem solid var(--White-10, rgba(255, 255, 255, 0.1)); /* 1px */
  border-radius: 6.25rem; /* 100px */
  margin-left: var(--md);
}
.header__btn .icon {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  background: url(../img/header-btn.svg) no-repeat center;
  margin-right: var(--sm); /* 0.6875rem */
}

.content {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  position: relative;
}
.content .container {
  position: relative;
  z-index: 2;
  padding-top: var(--xxl); /* 2rem */
}
.content h6 {
  font-family: "TT Livret Text Trial", sans-serif;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-50, rgba(255, 255, 255, 0.5));
}

.content::-webkit-scrollbar {
  width: 0.5rem; /* 8px */
}

.content::-webkit-scrollbar-track {
  background: rgb(51, 49, 49);
}

.content::-webkit-scrollbar-thumb {
  background: rgb(99, 96, 96);
}

.content::-webkit-scrollbar-button {
  display: none;
}

.content__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.8125rem; /* 685px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.content__video video {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.content__video::after {
  content: "";
  width: 100%;
  height: 5rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#141313));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #141313 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1 {
  /* Original margin: 4rem 0 4.5rem 0. Changed to hg (3rem) as it's the largest available. */
  margin: var(--max) 0 var(--max) 0;
  font-family: "TT Livret Text Trial", sans-serif;
  font-weight: var(--medium);
  font-style: italic;
  font-size: var(--xxl);
  line-height: var(--hg);
  letter-spacing: 0%;
  vertical-align: middle;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1::before {
  content: "";
  width: 1rem;
  height: 0.75rem;
  position: absolute;
  top: -2rem; /* -2rem */
  left: 0;
  background: url(../img/before.svg) no-repeat center;
}

h1::after {
  content: "";
  width: 1rem;
  height: 0.75rem;
  position: absolute;
  bottom: -2rem;
  right: 0;
  background: url(../img/after.svg) no-repeat center;
}

h2 {
  font-family: "TT Livret Text Trial", sans-serif;
  font-weight: var(--medium);
  font-style: italic;
  font-size: var(--xxl);
  line-height: var(--hg);
  margin-bottom: var(--xxl); /* 2rem */
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h3 {
  font-family: "TT Livret Text Trial", sans-serif;
  font-weight: var(--medium);
  font-style: italic;
  font-size: var(--lg);
  line-height: var(--lg);
  margin-bottom: var(--xxl); /* 2rem */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content__wrap {
  /* Original padding: 4rem. Changed to hg (3rem) as it's the largest available. */
  padding-top: var(--hg);
  padding-bottom: var(--hg);
  border-top: 0.0625rem solid var(--White-10, rgba(255, 255, 255, 0.1)); /* 1px */
}

.content__text {
  margin-bottom: var(--xxl); /* 2rem */
  font-family: "TT Livret Text Trial", sans-serif;
  font-weight: var(--regular);
  font-size: var(--md);
  line-height: var(--lg);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-100, rgb(255, 255, 255));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content__text b {
  font-weight: var(--medium);
}
.content__text i {
  font-style: italic;
}

.main.close .aside {
  max-width: 0;
}
.main.close .header {
  max-width: 100%;
}
.main.close .content .container {
  max-width: 79rem; /* 1264px */
}

/* Классы для масштабирования */
.x1 {
  font-size: 100%;
}

.x2 h1, .x2 h2 {
  font-size: var(--xxl);
}
.x2 h3 {
  font-size: var(--xl);
}
.x2 .content__text {
  font-size: 1.1rem;
}

.x3 h1, .x3 h2 {
  font-size: 2.4rem;
}
.x3 h3 {
  font-size: 1.8rem;
}
.x3 .content__text {
  font-size: 1.2rem;
}

.x4 h1, .x4 h2 {
  font-size: 2.6rem;
}
.x4 h3 {
  font-size: 1.95rem;
}
.x4 .content__text {
  font-size: 1.3rem;
}

.x5 h1, .x5 h2 {
  font-size: 2.8rem;
}
.x5 h3 {
  font-size: 2.1rem;
}
.x5 .content__text {
  font-size: 1.4rem;
}

body.bodyWhite {
  background: #ffffff;
}

body.bodyWhite, body.bodySilver {
  color: var(--black);
}
body.bodyWhite h1::before, body.bodySilver h1::before {
  background: url(../img/before-black.svg) no-repeat center;
}
body.bodyWhite h1::after, body.bodySilver h1::after {
  background: url(../img/after-black.svg) no-repeat center;
}
body.bodyWhite .aside__color h4 .icon, body.bodySilver .aside__color h4 .icon {
  background: url(../img/color.svg) no-repeat center;
}
body.bodyWhite .aside__botttm a, body.bodySilver .aside__botttm a {
  color: #000;
}
body.bodyWhite .header__btn, body.bodySilver .header__btn {
  border: 1px solid rgb(0, 0, 0);
  color: #000;
}
body.bodyWhite .header__btn .icon, body.bodySilver .header__btn .icon {
  background: url(../img/header-btn-black.svg) no-repeat center;
}
body.bodyWhite .header__save, body.bodySilver .header__save {
  background: url(../img/save-black.svg) no-repeat center;
}
body.bodyWhite .header__icon, body.bodySilver .header__icon {
  background: url(../img/icon-black.svg) no-repeat center;
}
body.bodyWhite .aside__logo, body.bodySilver .aside__logo {
  background: #ffffff;
}
body.bodyWhite .aside__logo::before, body.bodySilver .aside__logo::before {
  background: url(../img/logo1-black.svg) no-repeat center;
}
body.bodyWhite .aside__logo::after, body.bodySilver .aside__logo::after {
  background: url(../img/logo2-black.svg) no-repeat center;
}
body.bodyWhite .content__video::after, body.bodySilver .content__video::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#fff));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
}
body.bodyWhite .content__video video, body.bodySilver .content__video video {
  opacity: 0.3;
}
body.bodyWhite .content, body.bodySilver .content {
  background: transparent;
}
body.bodyWhite .aside__accordeon .btn, body.bodySilver .aside__accordeon .btn {
  color: var(--Black-100, rgb(0, 0, 0));
}
body.bodyWhite .aside__accordeon .btn span, body.bodySilver .aside__accordeon .btn span {
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}
body.bodyWhite .aside, body.bodySilver .aside {
  border-right-color: var(--Black-10, rgba(0, 0, 0, 0.1));
}
body.bodyWhite .content h6, body.bodySilver .content h6 {
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}
body.bodyWhite .content__wrap, body.bodySilver .content__wrap {
  border-top-color: var(--Black-10, rgba(0, 0, 0, 0.1));
}
body.bodyWhite .content__text, body.bodySilver .content__text {
  color: var(--Black-100, rgb(0, 0, 0));
}
body.bodyWhite .aside__color h4 .icon, body.bodySilver .aside__color h4 .icon {
  background: url(../img/color-black.svg) no-repeat center;
}
body.bodyWhite .aside__fonts .title .icon img:nth-child(1), body.bodySilver .aside__fonts .title .icon img:nth-child(1) {
  display: none;
}
body.bodyWhite .aside__fonts .title .icon img:nth-child(2), body.bodySilver .aside__fonts .title .icon img:nth-child(2) {
  display: block;
}

body.bodySilver {
  background: #E9E6CC;
}
body.bodySilver .content__video::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#E9E6CC));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #E9E6CC 100%);
}
body.bodySilver .aside__logo {
  background: #E9E6CC;
}