@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 61rem; /* 944px */
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  min-height: 100vh;
  background: rgb(22, 21, 21);
  color: var(--white);
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

body::-webkit-scrollbar {
  width: 0.5rem; /* 8px */
}

body::-webkit-scrollbar-track {
  background: rgb(51, 49, 49);
}

body::-webkit-scrollbar-thumb {
  background: rgb(99, 96, 96);
}

body::-webkit-scrollbar-button {
  display: none;
}

.main {
  position: relative;
}

.aside {
  font-family: "Unbounded", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 304px; /* 304px */
  width: 100%;
  min-height: 100vh;
  border-right: 0.0625rem solid var(--White-5, rgba(255, 255, 255, 0.05)); /* 1px */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.aside__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 304px; /* 304px */
  width: 304px; /* 304px */
  max-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.aside__wrap::-webkit-scrollbar {
  width: 0.375rem; /* 6px */
}

.aside__wrap::-webkit-scrollbar-track {
  background: rgb(51, 49, 49);
}

.aside__wrap::-webkit-scrollbar-thumb {
  background: rgb(99, 96, 96);
}

.aside__wrap::-webkit-scrollbar-button {
  display: none;
}

.aside__logo {
  width: 100%;
  min-height: 122px;
  height: 122px;
  padding: var(--xxl); /* 2rem */
  position: sticky;
  top: 0;
  z-index: 2;
  background: rgb(22, 21, 21);
  border-bottom: 0.0625rem solid var(--White-5, rgba(255, 255, 255, 0.05)); /* 1px */
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.aside__logo img {
  margin-bottom: var(--xs); /* 0.4375rem */
}
.aside__logo img:last-child {
  margin-bottom: 0;
}

.aside__logo::before {
  content: "";
  width: 125px;
  height: 23px;
  position: absolute;
  top: var(--xxl); /* 2rem */
  left: var(--xxl); /* 2rem */
  background: url(../img/logo1.svg) no-repeat center;
}

.aside__logo::after {
  content: "";
  width: 137px;
  height: 18px;
  position: absolute;
  bottom: var(--xxl); /* 2rem */
  left: var(--xxl); /* 2rem */
  background: url(../img/logo2.svg) no-repeat center;
}

.aside__block {
  border-top: 0.0625rem solid var(--White-5, rgba(255, 255, 255, 0.05)); /* 1px */
  padding: var(--lg) var(--xxl); /* 1.5rem 2rem */
}
.aside__block h5 {
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: var(--lg);
  margin-top: -var(--xs);
}
.aside__block h6 {
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}

.aside__block:nth-child(2) {
  border-top: 0;
}

.aside__accordeon {
  margin-bottom: var(--md);
}
.aside__accordeon .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-50, rgba(255, 255, 255, 0.5));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.aside__accordeon .btn span {
  min-width: 3.5rem; /* 56px */
  font-family: "Merriweather", serif;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  margin-right: var(--md);
  color: var(--White-30, rgba(255, 255, 255, 0.3));
}
.aside__accordeon .btn.active, .aside__accordeon .btn:hover {
  color: #fff;
}
.aside__accordeon .block {
  height: 0;
  overflow: hidden;
}
.aside__accordeon .block li {
  font-family: "Merriweather", serif;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  margin-bottom: var(--md);
  padding-left: var(--sm); /* 0.8125rem */
  position: relative;
}
.aside__accordeon .block li a {
  color: #fff;
}
.aside__accordeon .block li::before {
  content: "•";
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-25, rgba(255, 255, 255, 0.25));
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.aside__accordeon .block li:last-child {
  margin-bottom: 0;
}
.aside__accordeon .btn.active + .block {
  height: auto;
  padding-top: var(--lg);
  padding-bottom: var(--md);
}

.aside__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: var(--xxl); /* 2.5rem */
}
.aside__color h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.aside__color h4 .icon {
  width: 0.875rem; /* 14px */
  height: 0.875rem; /* 14px */
  background: url(../img/color.svg) no-repeat center;
  margin-right: var(--sm); /* 0.625rem */
}

.color_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.color_items .color {
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  border-radius: 50%;
  border: 1px solid #000;
}
.color_items .color.white {
  background: rgb(255, 255, 255);
}
.color_items .color.black {
  background: var(--Black-100, rgb(0, 0, 0));
}
.color_items .color.silver {
  background: rgb(233, 230, 204);
}
.color_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: var(--xs);
  cursor: pointer;
}
.color_items .item p {
  width: 0;
  overflow: hidden;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.color_items .item.active p {
  width: auto;
  padding-left: var(--zr);
  padding-right: var(--xs);
}
.color_items .item:last-child {
  margin-right: 0;
}
.color_items .item:last-child p {
  padding-right: 0;
}

.aside__fonts {
  margin-bottom: var(--lg); /* 1.25rem */
}
.aside__fonts .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: var(--xxl); /* 2.5rem */
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.aside__fonts .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__fonts .title .icon {
  min-width: 1rem; /* 16px */
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: var(--xs);
}
.aside__fonts .title .icon img:nth-child(2) {
  display: none;
}
.aside__fonts .item:last-child {
  margin-bottom: 0;
}

.aside__slider input {
  width: 100%;
}

.aside__botttm {
  margin-top: auto;
  padding: var(--xxl); /* 2rem */
}
.aside__botttm h5 {
  font-weight: var(--medium);
  font-size: 0.625rem; /* 10px */
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
}
.aside__botttm a {
  font-weight: var(--regular);
  font-size: 0.625rem; /* 10px */
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-25, rgba(255, 255, 255, 0.25));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aside__botttm a:hover {
  color: #fff;
}

.header {
  max-width: 100rem; /* 1600px */
  width: 100%;
  padding: var(--hg) var(--hg) var(--xl); /* 2.75rem 3rem 1.75rem */
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  width: 2rem; /* 32px */
  height: 2rem; /* 32px */
  background: url(../img/icon.svg) no-repeat center;
  border: 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header__save {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  background: url(../img/save.svg) no-repeat center;
  border: 0;
}

.header__btn {
  font-family: "Unbounded", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--medium);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  color: var(--White-100, rgb(255, 255, 255));
  vertical-align: middle;
  padding: var(--xs) var(--md) var(--xs) var(--md); /* 0.5rem 1.125rem 0.5rem 1rem */
  background: transparent;
  border: 0.0625rem solid var(--White-10, rgba(255, 255, 255, 0.1)); /* 1px */
  border-radius: 6.25rem; /* 100px */
  margin-left: var(--md);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}
.header__btn .icon {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  background: url(../img/header-btn.svg) no-repeat center;
  margin-right: var(--sm); /* 0.6875rem */
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__btn span {
  position: relative;
  z-index: 2;
}

@-webkit-keyframes headerBtn {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes headerBtn {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
.header__btn::after {
  width: 220px;
  height: 220px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #833AB4;
  background: -webkit-gradient(linear, left top, right top, from(rgb(131, 58, 180)), color-stop(50%, rgb(253, 29, 29)), to(rgb(252, 176, 69)));
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  -webkit-animation-name: headerBtn;
          animation-name: headerBtn;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__btn:hover, .header__btn.active {
  border-color: transparent !important;
  color: #fff !important;
}
.header__btn:hover .icon, .header__btn.active .icon {
  background: url(../img/header-btn.svg) no-repeat center !important;
}

.header__btn:hover::after, .header__btn.active::after {
  opacity: 1;
}

.content {
  width: calc(100% - 304px);
  min-height: 100vh;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.content .container {
  position: relative;
  z-index: 2;
  padding-top: var(--xxl); /* 2rem */
}
.content h6 {
  font-family: "Merriweather", serif;
  font-weight: var(--regular);
  font-size: var(--sm);
  line-height: var(--md);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-50, rgba(255, 255, 255, 0.5));
}
.content h1 {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.2em;
  font-weight: normal;
  letter-spacing: 0.05em;
}
.content .subtitle {
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  margin-bottom: 3em;
  padding: 0 2em;
}
.content h2 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: normal;
}
.content h3 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  font-weight: normal;
}
.content p {
  text-align: justify;
  margin-bottom: 1.2em;
  text-indent: 2em;
}
.content p:first-child,
.content h2 + p,
.content h3 + p,
.content blockquote + p,
.content hr + p,
.content .no-indent {
  text-indent: 0;
}
.content blockquote {
  margin: 1.5em 0;
  padding-left: 2em;
  border-left: 3px solid #636060;
  font-style: italic;
  color: #dadada;
}
.content .dialogue {
  margin: 1.5em 0;
  padding-left: 2em;
  font-style: italic;
}
.content .dialogue::before {
  content: "— ";
  margin-left: -1.5em;
}
.content .warning {
  background-color: #161515;
  border: 1px solid #636060;
  padding: 1.5em;
  margin: 2em 0;
  border-radius: 5px;
}
.content .warning h3 {
  margin-top: 0;
}
.content hr {
  border: none;
  text-align: center;
  margin: 3em 0;
}
.content hr::before {
  content: "* * *";
  font-size: 1.2em;
  letter-spacing: 0.5em;
}
.content strong {
  font-weight: bold;
}
.content em {
  font-style: italic;
}
.content .emphasis {
  font-style: italic;
  margin: 1.5em 0;
}
.content ol {
  margin: 1.5em 0;
  padding-left: 3em;
}
.content ol li {
  margin-bottom: 1em;
  line-height: 1.6;
}
.content .chapter-end {
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin: 2em 0;
}
.content .final-thought {
  font-size: 1.1em;
  font-style: italic;
  text-align: center;
  margin: 3em 0;
  padding: 2em;
  background-color: #161515;
  border: 1px solid #636060;
  border-radius: 5px;
  color: #dadada;
}

.content__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.8125rem; /* 685px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.content__video video {
  width: 100%;
  height: auto;
  opacity: 0.4;
}

.content__video::after {
  content: "";
  width: 100%;
  height: 5rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#141313));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #141313 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1 {
  /* Original margin: 4rem 0 4.5rem 0. Changed to hg (3rem) as it's the largest available. */
  margin: var(--max) 0 var(--max) 0;
  font-family: "Merriweather", serif;
  font-weight: var(--medium);
  font-style: italic;
  font-size: var(--xxl);
  line-height: var(--hg);
  letter-spacing: 0%;
  vertical-align: middle;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h1::before {
  content: "";
  width: 1rem;
  height: 0.75rem;
  position: absolute;
  top: -2rem; /* -2rem */
  left: 0;
  background: url(../img/before.svg) no-repeat center;
}

h1::after {
  content: "";
  width: 1rem;
  height: 0.75rem;
  position: absolute;
  bottom: -2rem;
  right: 0;
  background: url(../img/after.svg) no-repeat center;
}

h2 {
  font-family: "Merriweather", serif;
  font-weight: var(--medium);
  font-style: italic;
  font-size: var(--xxl);
  line-height: var(--hg);
  margin-bottom: var(--xxl); /* 2rem */
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

h3 {
  font-family: "Merriweather", serif;
  font-weight: var(--medium);
  font-style: italic;
  font-size: var(--lg);
  line-height: var(--lg);
  margin-bottom: var(--xxl); /* 2rem */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content__wrap {
  /* Original padding: 4rem. Changed to hg (3rem) as it's the largest available. */
  padding-top: var(--hg);
  padding-bottom: var(--hg);
  border-top: 0.0625rem solid var(--White-10, rgba(255, 255, 255, 0.1)); /* 1px */
}

.content__text {
  margin-bottom: var(--xxl); /* 2rem */
  font-family: "Merriweather", serif;
  font-weight: var(--regular);
  font-size: var(--md);
  line-height: var(--lg);
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--White-100, rgb(255, 255, 255));
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.content__text b {
  font-weight: var(--medium);
}
.content__text i {
  font-style: italic;
}

.main.close .aside {
  max-width: 0;
}
.main.close .header {
  max-width: 100%;
}
.main.close .content {
  width: 100%;
}
.main.close .content .container {
  max-width: 79rem; /* 1264px */
}

/* Классы для масштабирования */
.x1 h1, .x1 h2 {
  font-size: 2.4rem;
}
.x1 h3 {
  font-size: 1.8rem;
}
.x1 p {
  font-size: 1.2rem;
}

.x2 h1, .x2 h2 {
  font-size: 2.6rem;
}
.x2 h3 {
  font-size: 1.95rem;
}
.x2 p {
  font-size: 1.3rem;
}

.x3 h1, .x3 h2 {
  font-size: 2.8rem;
}
.x3 h3 {
  font-size: 2.1rem;
}
.x3 p {
  font-size: 1.4rem;
}

.x4 h1, .x4 h2 {
  font-size: 3rem;
}
.x4 h3 {
  font-size: 2.25rem;
}
.x4 p {
  font-size: 1.5rem;
}

.x5 h1, .x5 h2 {
  font-size: 3.2rem;
}
.x5 h3 {
  font-size: 2.4rem;
}
.x5 p {
  font-size: 1.6rem;
}

body.bodyWhite {
  background: #ffffff;
}

body.bodyWhite, body.bodySilver {
  color: var(--black);
}
body.bodyWhite .aside__accordeon .block li a, body.bodySilver .aside__accordeon .block li a {
  color: #000;
}
body.bodyWhite .aside__accordeon .block li::before, body.bodySilver .aside__accordeon .block li::before {
  color: #000;
}
body.bodyWhite .final-thought, body.bodyWhite .warning, body.bodySilver .final-thought, body.bodySilver .warning {
  background: transparent;
}
body.bodyWhite h1::before, body.bodySilver h1::before {
  background: url(../img/before-black.svg) no-repeat center;
}
body.bodyWhite h1::after, body.bodySilver h1::after {
  background: url(../img/after-black.svg) no-repeat center;
}
body.bodyWhite .aside__color h4 .icon, body.bodySilver .aside__color h4 .icon {
  background: url(../img/color.svg) no-repeat center;
}
body.bodyWhite .aside__botttm a, body.bodySilver .aside__botttm a {
  color: #000;
}
body.bodyWhite .header__btn, body.bodySilver .header__btn {
  border: 1px solid rgb(0, 0, 0);
  color: #000;
}
body.bodyWhite .header__btn .icon, body.bodySilver .header__btn .icon {
  background: url(../img/header-btn-black.svg) no-repeat center;
}
body.bodyWhite .header__save, body.bodySilver .header__save {
  background: url(../img/save-black.svg) no-repeat center;
}
body.bodyWhite .header__icon, body.bodySilver .header__icon {
  background: url(../img/icon-black.svg) no-repeat center;
}
body.bodyWhite .aside__logo, body.bodySilver .aside__logo {
  background: #ffffff;
}
body.bodyWhite .aside__logo::before, body.bodySilver .aside__logo::before {
  background: url(../img/logo1-black.svg) no-repeat center;
}
body.bodyWhite .aside__logo::after, body.bodySilver .aside__logo::after {
  background: url(../img/logo2-black.svg) no-repeat center;
}
body.bodyWhite .content__video::after, body.bodySilver .content__video::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#fff));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #fff 100%);
}
body.bodyWhite .content__video video, body.bodySilver .content__video video {
  opacity: 0.3;
}
body.bodyWhite .content, body.bodySilver .content {
  background: transparent;
}
body.bodyWhite .aside__accordeon .btn, body.bodySilver .aside__accordeon .btn {
  color: var(--Black-100, rgb(0, 0, 0));
}
body.bodyWhite .aside__accordeon .btn span, body.bodySilver .aside__accordeon .btn span {
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}
body.bodyWhite .aside, body.bodySilver .aside {
  border-right-color: var(--Black-10, rgba(0, 0, 0, 0.1));
}
body.bodyWhite .content h6, body.bodySilver .content h6 {
  color: var(--Black-50, rgba(0, 0, 0, 0.5));
}
body.bodyWhite .content__wrap, body.bodySilver .content__wrap {
  border-top-color: var(--Black-10, rgba(0, 0, 0, 0.1));
}
body.bodyWhite .content p, body.bodySilver .content p {
  color: var(--Black-100, rgb(0, 0, 0));
}
body.bodyWhite .aside__color h4 .icon, body.bodySilver .aside__color h4 .icon {
  background: url(../img/color-black.svg) no-repeat center;
}
body.bodyWhite .aside__fonts .title .icon img:nth-child(1), body.bodySilver .aside__fonts .title .icon img:nth-child(1) {
  display: none;
}
body.bodyWhite .aside__fonts .title .icon img:nth-child(2), body.bodySilver .aside__fonts .title .icon img:nth-child(2) {
  display: block;
}

body.bodySilver {
  background: #E9E6CC;
}
body.bodySilver .content__video::after {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#E9E6CC));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #E9E6CC 100%);
}
body.bodySilver .aside__logo {
  background: #E9E6CC;
}

@media screen and (max-width: 1700px) {
  .header__box {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 100px;
  }
  .header.fixed {
    padding-top: 30px;
  }
  .header.fixed .header__box {
    padding: 4px;
    padding-left: 10px;
    background: var(--White-30, rgba(255, 255, 255, 0.1));
    border-color: var(--Black-5, rgba(0, 0, 0, 0.05));
    -webkit-backdrop-filter: blur(1.125rem);
            backdrop-filter: blur(1.125rem);
  }
}
@media screen and (max-width: 1400px) {
  .header {
    padding: 1rem;
  }
  .header.fixed {
    padding-top: 1rem;
  }
  .content__video video {
    width: auto;
    height: 100%;
  }
}
@media screen and (max-width: 1023px) {
  body.mobileHidden {
    overflow: hidden;
  }
  .aside {
    max-width: 100%;
    left: -100%;
    background: var(--White-30, rgba(255, 255, 255, 0.1));
    border-color: var(--Black-5, rgba(0, 0, 0, 0.05));
    -webkit-backdrop-filter: blur(1.5em);
            backdrop-filter: blur(1.5em);
  }
  .aside__logo {
    background: transparent;
    position: relative;
  }
  body.bodyWhite .aside__logo, body.bodySilver .aside__logo {
    background: transparent;
  }
  .aside__wrap {
    max-width: 100%;
    width: 100%;
    padding-top: 4rem;
  }
  .content {
    width: 100%;
  }
  .main.close .header {
    padding-top: 1rem;
  }
  .main.close .header .header__box {
    padding: 4px;
    padding-left: 10px;
    background: var(--White-30, rgba(255, 255, 255, 0.1));
    border-color: var(--Black-5, rgba(0, 0, 0, 0.05));
    -webkit-backdrop-filter: blur(1.125rem);
            backdrop-filter: blur(1.125rem);
  }
  .main.close .aside {
    max-width: 100%;
    left: 0;
    z-index: 9;
  }
  .header {
    z-index: 99;
  }
  .content .container {
    padding-top: var(--hg);
  }
}